{% extends 'main.html' %}

{% block content %}
<div class="container mt-5">
    <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center">
           <strong> File Information </strong>
           {% if is_MFER_file %}
               <a href="{% url 'download_csv' file.id %}" class="btn btn-sm btn-success">Download CSV</a>
           {% endif %}
        </div>
        <div class="card-body">
            <h5 class="card-title mb-4">{{ file.title }}</h5>
            
            {% if is_text_file %}
                <h6 class="card-subtitle mb-2 text-muted mb-3">File Content:</h6>
                <pre class="card-text p-3">{{ content }}</pre>
            {% elif is_MFER_file %}
                <h6 class="card-subtitle mb-2 text-muted mb-3">File Header:</h6>
                <pre class="card-text p-3">{{ content }}</pre>
            {% else %}
                <p class="card-text mb-3">Unsupported file format for direct display.</p>
                <a href="{{ file.file.url }}" class="btn btn-primary" target="_blank">Download File</a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
