{% extends 'main.html' %}

{% block content %}
<div class="container mt-5">
    <div class="card">
        <div class="card-header d-flex align-items-center justify-content-between">
            <strong class="h4">File Details</strong> 
            {% if is_MFER_file %}
            <div class="d-flex align-items-center">
                
                <!-- Form for printing the MFER header with anonymization option -->
                <form action="{% url 'downloadHeaderMFER' file.id %}" method="post" class="mr-5 d-flex align-items-center">
                    {% csrf_token %}
                    <div class="custom-control custom-switch mr-2">
                        <input type="checkbox" class="custom-control-input" id="anonymizeSwitch" name="anonymize" value="true">
                        <label class="custom-control-label" for="anonymizeSwitch">Anonymize</label>
                    </div>
                    <button type="submit" class="btn btn-info btn">Download MFER Header</button>
                </form>

                <!-- Form for downloading the MFER data as a text file with anonymization option -->
                <form action="{% url 'downloadRawDataMFER' file.id %}" method="get" class="mr-5 d-flex align-items-center">
                    <div class="custom-control custom-switch mr-2">
                        <input type="checkbox" class="custom-control-input" id="anonymizeData" name="anonymize" value="true">
                        <label class="custom-control-label" for="anonymizeData">Anonymize</label>
                    </div>
                    <button type="submit" class="btn btn-info">Download Raw MFER</button>
                </form>

                 <!-- Form for downloading the CSV -->
                 <form action="{% url 'downloadFormatCSV' file.id %}" method="post" class="mr-5"> 
                    {% csrf_token %}
                    <button type="submit" class="btn btn-success btn">Download CSV</button>
                </form>

            </div>
            {% endif %}
        </div>
        <div class="card-body">
            <h4 class="card-title mb-4">Title: {{ file.title }}</h4>
            <h5 class="card-title mb-4">ID: {{ file.id }}</h5>
            {% if is_text_file %}
                <h5 class="card-subtitle mb-2 text-muted">File Content:</h5>
                <pre class="card-text p-3">{{ content }}</pre>
            {% elif is_MFER_file %}
                <h5 class="card-subtitle mb-2 text-muted">MFER File Header:</h5>
                <pre class="card-text p-3">{{ content }}</pre>
            {% else %}
                <p class="card-text">Unsupported file format for direct display.</p>
                <a href="{{ file.file.url }}" class="btn btn-primary btn-lg" target="_blank">Download File</a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
