{% extends 'main.html' %}

{% load static %}

{% block content %}

<div class="container mt-5">

    <div class="jumbotron text-center bg-primary text-white">
        <h1>Welcome to Our HealthCare System</h1>
        <p>Providing compassionate care and comprehensive services to our community.</p>
    </div>

    <div class="row text-center">

        <div class="col-md-6 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <h3 class="card-title">View Files</h3>
                    <p class="card-text">Access and manage subject files and records.</p>
                    <a href="{% url 'viewFile' %}" class="btn btn-primary">Explore</a>
                </div>
            </div>
        </div>

        <div class="col-md-6 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <h3 class="card-title">View Projects</h3>
                    <p class="card-text">Discover our ongoing projects.</p>
                    <a href="{% url 'viewProject' %}" class="btn btn-primary">Explore</a>
                </div>
            </div>
        </div>

        
        <div class="col-md-6 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <h3 class="card-title">View Subjects</h3>
                    <p class="card-text">Learn more about our subjects and their experiences.</p>
                    <a href="{% url 'viewSubject' %}" class="btn btn-primary">Explore</a>
                </div>
            </div>
        </div>

        <div class="col-md-6 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <h3 class="card-title">View Users</h3>
                    <p class="card-text">Meet our dedicated team of professional users.</p>
                    <a href="{% url 'viewUser' %}" class="btn btn-primary">Explore</a>
                </div>
            </div>
        </div>

       

    </div>
</div>

{% endblock %}
