{% extends 'main.html' %}

{% block content %}
<div class="container mt-5">
    <div class="card">
        <h5 class="card-header">Project Details</h5>
        <div class="card-body">
            <p class="card-title"><strong><i class="bi bi-card-list" style="margin-right: 5px;"></i>REK-number: </strong>{{ project.rekNummer }}</p>
            <p class="card-text"><strong><i class="bi bi-card-list" style="margin-right: 5px;"></i>Project ID:</strong> {{ project.id }}</p>
            <p class="card-text"><strong><i class="bi bi-textarea-resize" style="margin-right: 5px;"></i>Description:</strong> {{ project.description }}</p>
            
            <!-- Displaying multiple users -->
            <p class="card-text"><strong><i class="bi bi-people-fill" style="margin-right: 5px;"></i>Users involved:</strong>
                {% for user in project.users.all %}
                    {{ user.name }}{% if not forloop.last %}, {% endif %}
                {% empty %}
                    No users assigned.
                {% endfor %}
            </p>
            
            <!-- Displaying multiple subjects -->
            <p class="card-text"><strong><i class="bi bi-journal-bookmark-fill" style="margin-right: 5px;"></i>Subjects involved:</strong>
                {% for subject in project.subjects.all %}
                    {{ subject.name }}{% if not forloop.last %}, {% endif %}
                {% empty %}
                    No subjects assigned.
                {% endfor %}
            </p>
            
            <p class="card-text"><strong><i class="bi bi-calendar-event" style="margin-right: 5px;"></i>Updated:</strong> {{ project.updated|date:"Y-m-d H:i" }}</p>
            <p class="card-text"><strong><i class="bi bi-calendar-plus" style="margin-right: 5px;"></i>Created:</strong> {{ project.created|date:"Y-m-d H:i" }}</p>
        </div>
    </div>
</div>
{% endblock %}
