{% extends 'main.html' %}

{% block content %}

<div class="container mt-5">
    <div class="card">
        <h5 class="card-header">Subject Details</h5>
        <div class="card-body">
            <p class="card-text"><strong><i class="bi bi-person-square" style="margin-right: 10px;"></i>ID:</strong> {{ subject.subject_id|default:"Not available" }}</p>
            <p class="card-title"><strong><i class="bi bi-person-circle" style="margin-right: 10px;"></i>Name:</strong> {{ subject.name|default:"Not available" }}</p>
            <p class="card-text"><strong><i class="bi bi-gender-ambiguous" style="margin-right: 10px;"></i>Gender:</strong> {{ subject.gender|default:"Not available" }}</p>
            <p class="card-text">
                <strong><i class="bi bi-calendar-event" style="margin-right: 10px;"></i>Birth Date:</strong> {{ subject.birth_date|date:"Y-m-d"|default:"Not available" }}
            </p>
        </div>
        
        <div class="card-footer">
            <!--
            <div class="form-group">
                {% for channel in subject.file.channels %}
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="channels" id="channel_{{ forloop.counter0 }}" value="{{ channel }}" checked>
                    <label class="form-check-label" for="channel_{{ forloop.counter0 }}">
                        {{ channel }}
                    </label>
                </div>
                {% endfor %}
            </div>
            -->

            <div class="form-group">
                <label for="combined-checkbox"><i class="bi bi-diagram-3" style="margin-right: 10px;"></i>Combined Graph:</label>
                <input type="checkbox" id="combined-checkbox" name="combined">
            </div>
            <div class="form-group">
                <label for="rows-input"><i class="bi bi-list-ol" style="margin-right: 10px;"></i>Number of Rows:</label>
                <input type="number" id="rows-input" name="rows" value="10000" min="1">
            </div>
            <div class="card-footer" style="display: flex; justify-content: center; align-items: center;">
                <button id="plot-graph" class="btn btn-primary btn-lg" data-file-id="{{ subject.file.id }}" style="width: 60%; margin-top: 1px;">
                    View</button>
            </div>
        </div>
        
    </div>
    <div id="graph-container" class="mt-4"></div>
    <div id="loading-message" style="display:none;" class="alert alert-info">
        Loading... <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
    </div>
    
</div>

</div>

<script>
    document.getElementById('plot-graph').addEventListener('click', function() {
        var file_id = this.getAttribute('data-file-id');
        var combined = document.getElementById('combined-checkbox').checked ? 'true' : 'false';
        var rows = document.getElementById('rows-input').value;
        //var selectedChannels = Array.from(document.querySelectorAll('input[name="channels"]:checked')).map(el => el.value);
        //var url = `/plotGraph/${file_id}/?combined=${combined}&rows=${rows}&channels=${selectedChannels.join(',')}`;

        var url = `/plotGraph/${file_id}/?combined=${combined}&rows=${rows}`;
        
        // Show loading message
        var loadingMessage = document.getElementById('loading-message');
        loadingMessage.style.display = 'block';

        fetch(url)
        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok: ' + response.statusText);
            }
            return response.json();
        })
        .then(data => {
            if (data.error) {
                console.error('Error:', data.error);
            } else {
                var plotWindow = window.open("", "_blank", "width=800,height=600");
                plotWindow.document.write('<html><head><title>Plot Graph</title><script src="https://cdn.plot.ly/plotly-latest.min.js"><\/script></head><body>' + data.graph_html + '</body></html>');
                plotWindow.document.close();
            }
        })
        .catch(error => {
            console.error('Error:', error);
        })
        .finally(() => {
            // Hide loading message
            loadingMessage.style.display = 'none';
        });
    });
</script>


{% endblock %}
