{% extends 'main.html' %}

{% block content %}
<div class="container mt-5">
    <div class="card">
        <h5 class="card-header">User Details</h5>
        <div class="card-body">
            <h5 class="card-title">{{ user.name }}</h5>
            <p class="card-text"><strong><i class="bi bi-card-heading" style="margin-right: 5px;"></i>ID:</strong> {{ user.id }}</p> 
            <p class="card-text"><strong><i class="bi bi-person-badge" style="margin-right: 5px;"></i>Username:</strong> {{ user.user.username }}</p>
            <p class="card-text"><strong><i class="bi bi-telephone-fill" style="margin-right: 5px;"></i>Contact:</strong> {{ user.mobile }}</p>
        </div>
    </div>
</div>
{% endblock %}
