{% extends 'main.html' %}

{% load static %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center mb-5">View Subjects</h2>
    <div class="row">
        {% for subject in subjects %}
        <div class="col-sm-12 col-md-6 col-lg-4 mb-4 d-flex align-items-stretch">
            <div class="card shadow-sm w-100">
                <a href="{% url 'subject' subject.subject_id %}" class="card-header bg-info text-white">
                    Subject ID: {{ subject.subject_id }}
                </a>
                <div class="card-body">
                    <p><strong>Name:</strong> {{ subject.name }}</p>
                    {% if subject.file %}
                    <p><strong>File ID:</strong> <a href="{% url 'file' subject.file.id %}">{{ subject.file.id }}</a></p>
                    {% else %}
                    <p>No file associated</p>
                    {% endif %}
                </div>
            </div>
        </div>
        {% empty %}
        <p class="text-center">No subjects found.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
