{% extends 'main.html' %}

{% load static %}

{% block content %}

<div class="container mt-5">
    <h2 class="text-center mb-5">View Users</h2>

    <div class="row">
        {% for user in users %}
        <div class="col-sm-12 col-md-6 col-lg-4 mb-4 d-flex align-items-stretch">
            <div class="card shadow-sm w-100">
                <a href="{% url 'user' user.id %}" class="card-header bg-info text-white d-block" style="text-decoration: none;">
                    <i class="bi bi-person-badge" style="margin-right: 10px;"></i>User ID: {{ user.id }}
                </a>
                <div class="card-body">
                    <p class="mb-2"><i class="bi bi-person-fill" style="margin-right: 10px;"></i><strong>Name:</strong> {{ user.name }}</p>
                    <p class="mb-2"><i class="bi bi-telephone-fill" style="margin-right: 10px;"></i><strong>Contact:</strong> {{ user.mobile }}</p>
                </div>
            </div>
        </div>
        {% empty %}
        <div class="col-12">
            <p class="text-center">No users found.</p>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
