{% extends 'main.html' %}

{% load static %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center mb-4">View Projects</h2>

    {% if projects %}
        {% for project in projects %}
        <div class="card mb-5">
            {% if request.user.userprofile in project.users.all %}
                <a href="{% url 'project' project.id %}" class="card-header bg-primary text-white d-block" style="text-decoration: none;">
                    <i class="bi bi-briefcase-fill" style="margin-right: 10px;"></i>
                    <strong>Project: {{ project.rekNummer }}</strong>
                </a>
            {% else %}
                <div class="card-header bg-primary text-white d-block">
                    <i class="bi bi-briefcase-fill" style="margin-right: 10px;"></i>
                    <strong>Project: {{ project.rekNummer }}</strong>
                </div>
            {% endif %}
            <div class="card-body">
                <p class="card-text"><strong><i class="bi bi-person-badge-fill"></i> Users involved:</strong></p>
                <div class="row">
                    {% for user in project.users.all %}
                    <div class="col-md-4 mb-3">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title"><i class="bi bi-person-circle"></i> {{ user.name }}</h5>
                                <p class="card-text"><i class="bi bi-card-heading" style="margin-right: 10px;"></i><strong>ID:</strong> {{ user.id }}</p>
                                <p class="card-text"><i class="bi bi-tools" style="margin-right: 5px;"></i><strong>Specialization:</strong> {{ user.specialization }}</p>
                                <p class="card-text"><i class="bi bi-telephone-fill" style="margin-right: 5px;"></i><strong>Contact:</strong> {{ user.mobile }}</p>
                                <a href="{% url 'user' user.id %}" class="btn btn-primary">View User</a>
                            </div>
                        </div>
                    </div>
                    {% empty %}
                    <div class="col">
                        <p>No users assigned to this project yet.</p>
                    </div>
                    {% endfor %}
                </div>

                <p class="card-text"><strong><i class="bi bi-people-fill"></i> Subjects involved:</strong></p>
                <div class="row">
                    {% for subject in project.subjects.all %}
                    <div class="col-md-4 mb-3">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title"><i class="bi bi-person-lines-fill"></i> {{ subject.name }}</h5>
                                <p class="card-text"><i class="bi bi-card-heading" style="margin-right: 10px;"></i><strong>ID:</strong> {{ subject.subject_id }}</p>
                                <p class="card-text"><i class="bi bi-gender-ambiguous" style="margin-right: 10px;"></i><strong>Gender:</strong> {{ subject.gender }}</p>
                                {% if subject.file %}
                                    <p><i class="bi bi-file-earmark-text-fill" style="margin-right: 5px; color: #007bff;"></i>
                                    <strong>File: </strong><a href="{% url 'file' subject.file.id %}" style="font-weight: bold; color: #28a745; background-color: #e9f5ec; padding: 2px 4px; border-radius: 4px;"> 
                                        {{ subject.file.title }}</a></p>
                                    
                                {% else %}
                                    <p>No file associated</p>
                                {% endif %}
                                {% if request.user.userprofile in project.users.all %}
                                    <a href="{% url 'subject' subject.subject_id %}" class="btn btn-primary">View Subject</a>
                                {% else %}
                                    <button class="btn btn-secondary" disabled>View Subject</button>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% empty %}
                    <div class="col">
                        <p>No subjects assigned to this project yet.</p>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endfor %}
    {% else %}
        <div class="alert alert-info" role="alert">
            You are not part of any projects.
        </div>
    {% endif %}
</div>
{% endblock %}
