{% extends 'main.html' %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center mb-5">Nihon Kohden Files</h2>

    {% if files %}
        <div class="row">
            {% for file in files %}
                <div class="col-md-6 col-lg-4 mb-4">
                    <div class="card h-100 shadow-sm">
                        <a href="{% url 'file' file.id %}" class="card-header bg-primary text-white d-block" style="text-decoration: none; font-size: 1.25rem;">
                            <i class="bi bi-file-earmark-text" style="margin-right: 10px;"></i>
                            <strong>{{ file.title }}</strong>
                        </a>
                        <div class="card-body">
                            {% with file.fileimport_set.first as import %}
                                {% if import %}
                                    <p class="card-text"><i class="bi bi-person-check-fill"></i> Imported By: <a href="{% url 'user' import.user.id %}">{{ import.user.name }}</a></p>
                                    <p class="card-text"><i class="bi bi-clock-fill"></i> Imported At: {{ import.imported_at|date:"Y-m-d H:i" }}</p>
                                {% else %}
                                    <p class="card-text">This file has not been imported correctly.</p>
                                {% endif %}
                            {% endwith %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="alert alert-info" role="alert">
            No files to display.
        </div>
    {% endif %}
</div>
{% endblock %}
